*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Ubuntu', sans-serif;
}

.color-white{
  color: #fff;
}
a{
  text-decoration: none;
  color: #fff;
}
.bg-yelows{
  background-color: yellow;
}
li{
  list-style: none;
}
.gap-10{
  gap:10px;
}
.gap-30{
  gap: 30px;
}
.color-red{
  color: red;
}
.viendo{
  background-color: red;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
}
.fs-20{
  font-size: 15px;

}
/* product start */
   .product-main{
    background-color: #fff;
   }
   .product-main img{
        width: 100%;
   }
   .product-link-icon img{
    width: 14px;
   }
   .product-link-icon{
    position: absolute;
    top: 0;
    right: 0;
   }
   .link-hidden{
    display: none;
    
    animation: slideFromLeft .5s ease;
   }
   .product-img:hover .link-hidden{
    display: block;
   }
   @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* product end */
/* header start */
  
.header-top{

  background-color: #131921;

}
.header-center{
  background-color: #131921;
  border-top: 1px solid #ccc;
  font-size: 14px;
}
.header-bottom{
  background-color: #232f3e;
}
.select-menu-bt{
  background-color: #232f3e;
  border: none;
  outline: none;
  color: #fff;
}
.header-bottom{
 
  font-size: 14px;
}
/* header end */

/* footer start */
.footer-top{
  background-color:#232f3e ;
}
.footer-center{
  background-color: #232f3e;
  border-top:1px solid #ccc;
  color: #fff;
}
.footer-bottom{
  border-top: 1px solid #ccc;
  background-color: #232f3e;
  color: #fff;
}
/* footer end */

/* home start */

/* slide1 */
.slide1-img{
  
}
.slide1-content{
  position: absolute;
  top: 95px;
  left: 65px;
}
.home-slide1{
  margin: 20px 0;
}
.home-slide1 img{
  width: 100%;
}
.slide-product{
  font-size: 10px;
  position: relative;
}
.slide-product h2{
  font-size: 20px;
}
.slide-product .slide1-content{
  top: 35px;
  left: 25px;
}
/* sile1 end */
/* home-two start */
  .home-two{
    background-color: #f5f5f7;
  }
  .list-items-home-two{
    background-color: #fff;
   
  }
  .home-two-1-product{
    font-size: 15px;
  }
  .home-two-1-product h5{
    font-size: 15px;
  }

/* home-two end */
/* home-three start */
.home-three{
  background-color: #f5f5f7;
}
   .blog-cart{
    background-color: #fff;
   }
   .slSP{
    display: flex;
   }
   .pt-left{
     width: 20%;
     height: 5px;
       border: 5px solid blue;
   }
   .pt-right{
    width: 80%;
    height: 5px;
    border: 5px solid red;
   }
/* home-three end */


.Car-home{
  background-color: #f5f5f7;
}
/* home end */


/* outstore start */
.bg-cam:checked{
  background-color: #e95110;
  border: #e95110;
}
.color-xam{
  color: #c3c6c9;
}
   .outstore-content{

    background-color: #f5f5f7;
   }

   .outstore-content h4, .outstore-content h5{
     font-size: 17px;
   }
   .wh-50{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
   }
   .fs-8{
    font-size: 13px !important;
   }
   .bg-xam{
    background-color: #ccd0d5;
   }
   .h-20{
     height: 20px;
   }
   .w-25i{
    width: 25px;
    height: 25px;
   }
   .outstore-content ul{
   margin-bottom: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style-type: none;
   padding: 0 5rem;
 
}
  
.outstore-content li a {
     border-radius: 7px;
     padding: 0.1rem 1rem;
     border: gray 1px solid;
     cursor: pointer;
   }
   .outstore-content li.previous a,
   .outstore-content li.next a,
   .outstore-content li.break a {
    color: #000;
     border-color: transparent;
   }
   .outstore-content li.active a {
     background-color: #0366d6;
     border-color: transparent;
     color: white;
     min-width: 32px;
   }
   .outstore-content li.disabled a {
     color: grey;
   }
   .outstore-content li.disable,
   .outstore-content li.disabled a {
   
     cursor: default;
   }
   
/* outstore end */

/* Blog start */
 
.m-20{
  margin: 20px 0;
}
.Blogs{
   background-color: rgb(220, 219, 215);
}
.blog-nav{
   background-color: #fff;
   margin-top: 20px;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 2px 2px 2px #ccc;
   margin-bottom: 20px;
}
.blog-nav-link{
    

}
.blog-nav-link a{
  padding: 5px 5px;
  display: block;
   color: #000;
}
/* Blog end */

/* Contact start */
  .Contact{
    padding: 20px 10px;
    background-color: #f6efef;
  }
  .contact-main{
    background-color: #fff;
  }
  .color-dark{
    color: #000;
  }
  .color-ccc{
    color: #b8b4b4;
  }
/* Contact end */

/* compare start */
.compareptd{
  background-color: #f5f5f7;
}
   .compareprd-cart{
    box-shadow: 2px 2px 2px 2px #ccc;
     background-color: #fff;
   }
   .compareptd img{
    width: 100%;
   }

/* conpare end */

/* login,up start */
   .login-main{
    background-color: #f5f5f7;

   }
   .login-content{
    background-color: #fff;

   }
/* forget pass */
.password-main{
  background-color: #f5f5f7;

 }
 .password-content{
  background-color: #fff;

 }
/* forget pass */

/* home cart start */
.homecart{
  background-color: #f5f5f7;
}
.w-50p{
  width: 100px;
  height: 100px;
}
.w-40p{
  width: 40px;
}
/* home cart end */
/* detail-product  start*/
 .detail-product{
  background-color: #f5f5f7;
 }
 .detail-product .sll{
  
    margin: 0;
    width: 100px;
    height: 100px;
    padding: 30px 0;

 }
/* detail-product end */

/* single product start */
   .singleproduct-main{

    background-color: #f5f5f7;
   }
   .w-12p{
    
    border: 1px solid #3f3e3e;
    cursor: pointer;
    border-radius: 12px;
   }
   .w-10p{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
   }
   .ss1{
    z-index: 1 !important;
   }
   .ss2{
    z-index: 1000;
   }
/* single product end */